{% extends 'Staff/include/base.html' %}
{% load static %}
{% block main-content %}


			<!-- Main content START -->
			<div class="col-xl-9">

				<!-- Payout box START -->
				<div class="row g-4 mb-4">
					<!-- Box item -->
					<div class="col-sm-6 col-md-4">
						<div class="border p-3 rounded-3 h-100">
							<div class="d-flex mb-1 justify-content-between align-items-center">
								<h6 class="mb-0">Last month payout</h6>
								<span class="badge bg-success bg-opacity-10 text-success ms-2 mb-0">Paid</span>
							</div>
							<h2 class="mb-2 mt-2">$12,825</h2>
							<a href="#">View transaction</a>
						</div>
					</div>

					<!-- Box item -->
					<div class="col-sm-6 col-md-4">
						<div class="border p-3 rounded-3 h-100">
							<h6 class="mb-0">This month earning</h6>
							<h2 class="mb-2 mt-2">$15,356</h2>
							<p class="mb-0">Expected payout on 05/08/2021</p>
						</div>
					</div>

					<!-- Box item -->
					<div class="col-sm-6 col-md-4">
						<div class="bg-primary bg-opacity-10 h-100 p-3 rounded-3">
							<h6 class="mb-0">Balance</h6>
							<h2 class="mb-2 mt-2">$8,485</h2>
							<a href="#" class="btn btn-sm btn-primary mb-0">Withdraw Earning</a>
						</div>
					</div>
				</div>
				<!-- Payout box END -->

				<div class="card bg-transparent border rounded-3">
					<!-- Card header START -->
					<div class="card-header bg-transparent border-bottom">
						<h3 class="mb-0">Payouts</h3>
					</div>
					<!-- Card header END -->

					<!-- Card body START -->
					<div class="card-body">

						<!-- Title and select START -->
						<div class="row g-3 align-items-center justify-content-between mb-4">
							<!-- Content -->
							<div class="col-md-8">
								<form class="rounded position-relative">
									<input class="form-control pe-5 bg-transparent" type="search" placeholder="Search" aria-label="Search">
									<button class="btn bg-transparent px-2 py-0 position-absolute top-50 end-0 translate-middle-y" type="submit"><i class="fas fa-search fs-6 "></i></button>
								</form>
							</div>

							<!-- Select option -->
							<div class="col-md-3">
								<!-- Short by filter -->
								<form>
									<select class="form-select js-choice border-0 z-index-9 bg-transparent" aria-label=".form-select-sm">
										<option value="">Sort by</option>
										<option>Free</option>
										<option>Newest</option>
										<option>Oldest</option>
									</select>
								</form>
							</div>
						</div>
						<!-- Title and select END -->

						<!-- Payout list table START -->
						<div class="table-responsive border-0">
							<table class="table table-dark-gray align-middle p-4 mb-0 table-hover">
								<!-- Table head -->
								<thead>
									<tr>
										<th scope="col" class="border-0 rounded-start">Payout</th>
										<th scope="col" class="border-0">Amount</th>
										<th scope="col" class="border-0">Status</th>
										<th scope="col" class="border-0 rounded-end">Date</th>
									</tr>
								</thead>
								<!-- Table body START -->
								<tbody>
									<!-- Table item -->
									<tr>
										<!-- Table data -->
										<td>
											<h6 class="mt-2 mt-lg-0 mb-0"><a href="#">Successful payout #102356</a></h6>
										</td>

										<!-- Table data -->
										<td>$3,999
											<!-- Drop down with id -->
											<a href="#" class="h6 mb-0" role="button" id="dropdownShare" data-bs-toggle="dropdown" aria-expanded="false">
												<i class="bi bi-info-circle-fill"></i>
											</a>
											<ul class="dropdown-menu dropdown-w-sm dropdown-menu-end min-w-auto shadow rounded" aria-labelledby="dropdownShare">
												<li>
													<div class="d-flex justify-content-between">
														<span class="small">Commission</span>
														<span class="h6 mb-0 small">$86</span>
													</div>
													<hr class="my-1">
												</li>
												<!-- Divider -->

												<li>
													<div class="d-flex justify-content-between">
														<span class="me-4 small">Us royalty withholding</span>
														<span class="text-danger small">-$0.00</span>
													</div>
													<hr class="my-1">
												</li>
												
												<li>
													<div class="d-flex justify-content-between">
														<span class="small">Earning</span>
														<span class="h6 mb-0 small">$86</span>
													</div>
												</li>
											</ul>
										</td>

										<!-- Table data -->
										<td class="text-center text-sm-start">
											<span class="badge bg-success bg-opacity-10 text-success">Paid</span>
										</td>

										<!-- Table data -->
										<td>18/8/2021</td>
									</tr>

									<!-- Table item -->
									<tr>
										<!-- Table data -->
										<td>
											<!-- Title -->
											<h6 class="mt-2 mt-lg-0 mb-0"><a href="#">Successful payout #102589</a></h6>
										</td>

										<!-- Table data -->
										<td>$4,875
											<!-- Drop down with id -->
											<a href="#" class="h6 mb-0" role="button" id="dropdownShare1" data-bs-toggle="dropdown" aria-expanded="false">
												<i class="bi bi-info-circle-fill"></i>
											</a>
											<ul class="dropdown-menu dropdown-w-sm dropdown-menu-end min-w-auto shadow rounded" aria-labelledby="dropdownShare1">
												<li>
													<div class="d-flex justify-content-between">
														<span class="small">Commission</span>
														<span class="h6 mb-0 small">$86</span>
													</div>
													<hr class="my-1">
												</li>
												<!-- Divider -->

												<li>
													<div class="d-flex justify-content-between">
														<span class="me-4 small">Us royalty withholding</span>
														<span class="text-danger small">-$0.00</span>
													</div>
													<hr class="my-1">
												</li>
												
												<li>
													<div class="d-flex justify-content-between">
														<span class="small">Earning</span>
														<span class="h6 mb-0 small">$86</span>
													</div>
												</li>
											</ul>
										</td>

										<!-- Table data -->
										<td class="text-center text-sm-start">
											<span class="badge bg-success bg-opacity-10 text-success">Paid</span>
										</td>

										<!-- Table data -->
										<td>12/8/2021</td>
									</tr>

									<!-- Table item -->
									<tr>
										<!-- Table data -->
										<td>
											<h6 class="mt-2 mt-lg-0 mb-0"><a href="#">Successful payout #108645</a></h6>
										</td>

										<!-- Table data -->
										<td>$1,800
											<!-- Drop down with id -->
											<a href="#" class="h6 mb-0" role="button" id="dropdownShare2" data-bs-toggle="dropdown" aria-expanded="false">
												<i class="bi bi-info-circle-fill"></i>
											</a>
											<ul class="dropdown-menu dropdown-w-sm dropdown-menu-end min-w-auto shadow rounded" aria-labelledby="dropdownShare2">
												<li>
													<div class="d-flex justify-content-between">
														<span class="small">Commission</span>
														<span class="h6 mb-0 small">$86</span>
													</div>
													<hr class="my-1">
												</li>
												<!-- Divider -->

												<li>
													<div class="d-flex justify-content-between">
														<span class="me-4 small">Us royalty withholding</span>
														<span class="text-danger small">-$0.00</span>
													</div>
													<hr class="my-1">
												</li>
												
												<li>
													<div class="d-flex justify-content-between">
														<span class="small">Earning</span>
														<span class="h6 mb-0 small">$86</span>
													</div>
												</li>
											</ul>
										</td>

										<!-- Table data -->
										<td class="text-center text-sm-start">
											<span class="badge bg-danger bg-opacity-10 text-danger">Cancelled </span>
										</td>

										<!-- Table data -->
										<td>22/8/2021</td>
									</tr>

									<!-- Table item -->
									<tr>
										<!-- Table data -->
										<td>
											<h6 class="mt-2 mt-lg-0 mb-0"><a href="#">Successful payout #108645</a></h6>
										</td>

										<!-- Table data -->
										<td>$6,800
											<!-- Drop down with id -->
											<a href="#" class="h6 mb-0" role="button" id="dropdownShare3" data-bs-toggle="dropdown" aria-expanded="false">
												<i class="bi bi-info-circle-fill"></i>
											</a>
											<ul class="dropdown-menu dropdown-w-sm dropdown-menu-end min-w-auto shadow rounded" aria-labelledby="dropdownShare3">
												<li>
													<div class="d-flex justify-content-between">
														<span class="small">Commission</span>
														<span class="h6 mb-0 small">$86</span>
													</div>
													<hr class="my-1">
												</li>
												<!-- Divider -->

												<li>
													<div class="d-flex justify-content-between">
														<span class="me-4 small">Us royalty withholding</span>
														<span class="text-danger small">-$0.00</span>
													</div>
													<hr class="my-1">
												</li>
												
												<li>
													<div class="d-flex justify-content-between">
														<span class="small">Earning</span>
														<span class="h6 mb-0 small">$86</span>
													</div>
												</li>
											</ul>
										</td>

										<!-- Table data -->
										<td class="text-center text-sm-start">
											<span class="badge bg-success bg-opacity-10 text-success">Paid</span>
										</td>

										<!-- Table data -->
										<td>28/8/2021</td>
									</tr>

									<!-- Table item -->
									<tr>
										<!-- Table data -->
										<td>
											<!-- Title -->
											<h6 class="mt-2 mt-lg-0 mb-0"><a href="#">Successful payout #108645</a></h6>
										</td>

										<!-- Table data -->
										<td>$3,576
											<!-- Drop down with id -->
											<a href="#" class="h6 mb-0" role="button" id="dropdownShare4" data-bs-toggle="dropdown" aria-expanded="false">
												<i class="bi bi-info-circle-fill"></i>
											</a>
											<ul class="dropdown-menu dropdown-w-sm dropdown-menu-end min-w-auto shadow rounded" aria-labelledby="dropdownShare4">
												<li>
													<div class="d-flex justify-content-between">
														<span class="small">Commission</span>
														<span class="h6 mb-0 small">$86</span>
													</div>
													<hr class="my-1">
												</li>
												<!-- Divider -->

												<li>
													<div class="d-flex justify-content-between">
														<span class="me-4 small">Us royalty withholding</span>
														<span class="text-danger small">-$0.00</span>
													</div>
													<hr class="my-1">
												</li>
												
												<li>
													<div class="d-flex justify-content-between">
														<span class="small">Earning</span>
														<span class="h6 mb-0 small">$86</span>
													</div>
												</li>
											</ul>
										</td>

										<!-- Table data -->
										<td class="text-center text-sm-start">
											<span class="badge bg-orange bg-opacity-10 text-orange">Pending</span>
										</td>

										<!-- Table data -->
										<td>12/8/2021</td>
									</tr>
								</tbody>
								<!-- Table body END -->
							</table>
						</div>
						<!-- Payout list table END -->

						<!-- Pagination START -->
						<div class="d-sm-flex justify-content-sm-between align-items-sm-center mt-4 mt-sm-3">
							<!-- Content -->
							<p class="mb-0 text-center text-sm-start">Showing 1 to 8 of 20 entries</p>
							<!-- Pagination -->
							<nav class="d-flex justify-content-center mb-0" aria-label="navigation">
								<ul class="pagination pagination-sm pagination-primary-soft mb-0 pb-0">
									<li class="page-item mb-0"><a class="page-link" href="#" tabindex="-1"><i class="fas fa-angle-left"></i></a></li>
									<li class="page-item mb-0"><a class="page-link" href="#">1</a></li>
									<li class="page-item mb-0 active"><a class="page-link" href="#">2</a></li>
									<li class="page-item mb-0"><a class="page-link" href="#">3</a></li>
									<li class="page-item mb-0"><a class="page-link" href="#"><i class="fas fa-angle-right"></i></a></li>
								</ul>
							</nav>
						</div>
						<!-- Pagination END -->
					</div>
					<!-- Card body START -->
				</div>
				<!-- Payout END -->
			</div>
			<!-- Main content END -->
		
{% endblock main-content %}