{% load static %}
<!doctype html>
<html lang="en">
  <head>
      <meta name="facebook-domain-verification" content="elzdukcnkm9lcycyn13ki2vgk7ql51" />
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    
    

  <link rel="stylesheet" href="{% static 'css\bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css\style1.css' %}"> 
  <link rel="stylesheet" type="text/css" href="{% static 'css\sal.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css\slick.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css\slick-theme.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="shortcut icon" href="favicon.png" type="image/x-icon">
<link rel="icon" href="favicon.png" type="image/x-icon">
  <title>Diploma in Cyber Security | 12 Month Program | Enrol Today</title>
  <meta name="description" content="Access Cyber Security Expert Certification Training Course by Top Professionals. Explore Diploma in cyber security with ✅500+ hrs of applied learning & ✅ In-Demand CEH,Pentsting,Ethical Hacking Courses.">
  <meta name="keywords" content="Cyber Security Expert, cyber security expert certification, cyber security expert courses, cyber security expert training, cyber security engineer, cyber security specialist, cyber security course, cyber security certification, cyber security training, cyb, Diploma in cyber security">

<style>
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins&display=swap');

body{ font-family: 'Montserrat', sans-serif !important; }
.reranumber{font-weight:bold; font-size:17px !important; margin-bottom:0px;}
.fpinfo{    background-color: #f17121; color:#ffffff; padding:15px;}
.stfplans{line-height:10px; text-decoration:none !important;}
.lb-data .lb-number{display:none !important;}
.lb{position: relative;float: left;}
.slick-dots{position: relative;margin-top: 15px;}
.fp_li,.ut_li, .project_slider{display: none;}
.accordion-button:not(.collapsed){background-color: transparent !important;border: 1px solid #ffffff !important;}
.accordion-item{border: 1px solid #ffffff !important;border-radius:5px ;margin-top: 15px;background-color: transparent !important;}
.accordion-header, .accordion-button{color: #ffffff !important;}
.accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
}
.slick-dots{text-align: center;margin-top: 20px;position: relative;}
.slick-dots li{border: 3px solid #78b0ce;background-color: #2c3079}
.slick-dots li:hover{background-color:#f59fb0;}
.slick-dots .slick-active{background-color:#f59fb0;}
.slick-dots li button:before{background-color: transparent;color: transparent;content: '';}
.course_brochure_div{z-index: 99;}
@media (max-width: 640px){
.course_brochure_div{z-index: 99;}
.course{width:100%;margin-left:0;margin-right:0;border:1px solid #333}
/* .course:hover{display:none;} */
}
</style>

<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/61e3d545b84f7301d32b40a7/1fpgvi6al';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PXCZBSVB10"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-PXCZBSVB10');
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-217485246-1">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-217485246-1');
</script>

<!-- Meta Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '2066330153527293');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=2066330153527293&ev=PageView&noscript=1"
/></noscript>
<!-- End Meta Pixel Code -->
  </head>
  <body>
    

<!-- Menu Section -->
			<div class="m1 menu">
				<a href="{% url 'Home' %}" class="logo"><img src="{% static 'images\skill_bunny_logo.png' %}" class="img-responsive logoimg"></a>
				<!-- <a href="#" class="logo"><img src="images/dev-logo.png" class="img-responsive logoimg logoimg1 de_l1"/></a>
				<a href="#" class="logo"><img src="images/naiknavare-logo1.png" class="img-responsive logoimg logoimg1 de_l2"/></a> -->
				<div id="menu-center">				
					<ul>
						<!-- <li><a class="active" href="#home">Home</a>	</li> -->
						<li><a href="#Why-diploma" class="menuuu">Why</a><span class="menu_sp"> | </span></li>
						<li><a href="#Eligibility" class="menuuu">Eligibility Criteria</a><span class="menu_sp"> | </span>	</li>
						<!-- <li><a href="#Curriculum">Curriculum</a><span class="menu_sp"> | </span></li>					 -->
						<li><a href="#About-skill-bunny" class="menuuu">About Skill Bunny</a> <span class="menu_sp"> | </span></li>
						<li><a href="#Major-Recruiters" class="menuuu">Recruiters</a><span class="menu_sp"> | </span></li>						
						<li><a href="tel:+91 82878 50111"> <img src="{% static 'images\call.png' %}" width="25px" style="margin-right:3px" alt=""> +91 82878 50111</a></li>						
					</ul>
				</div>
				<div class="hamclick mobmhclick" onclick="myFunction(this)">
				  
				</div>
				<img src="{% static 'images\hmenu.png' %}" class="img-responsive hamclick">
				<div id="mobmenu">		
<p class="mobilemenucross">X</p>		
					<ul class="mmenuul">
						<!-- <li><a class="active" href="#home">Home</a>	</li> -->
						<li><a href="#Why-diploma" class="mmd menuuu">Why</a></li>
						<li><a href="#Eligibility" class="mmd menuuu">Eligibility</a>	</li>
						<!-- <li><a href="#Curriculum"  class="mmd">Curriculum</a></li>					 -->
						<li><a href="#About-skill-bunny" class="mmd menuuu">About Skill Bunny</a></li>
						<li><a href="#Major-Recruiters" class="mmd menuuu">Recruiters</a></li>
						<li><a href="tel:+91 82878 50111"><img src="{% static 'images\call.png' %}" width="25px" style="margin-right:3px" alt="">Contact us</a></li>
					</ul>
				</div>
			</div>
<!-- Home Section -->
			<div id="home">
				<div class="regular slider">
					<div class=" hvr-glow">
							<img src="{% static 'images\banner\new\Diploma_in_cybersecurity.jpeg' %}" class="img-responsive bannerslider">
							<img src="{% static 'images\banner\new\Diploma_in_cyber_security.jpg' %}" class="img-responsive bannersliderm">		
					</div>
				</div>			
			</div>
			
			
			
<section class="main_sec" id="Overview">
    <div class="head_div" data-sal="slide-up" data-sal-duration="1500" data-sal-delay="200" data-sal-easing="ease-out-back">
		<h1 class="headingg">How Many Courses We will Master?</h1>
	</div>
	<div class="main_div main_div_course">
	<div class="course">
		<div class="course_name_div">
			<p class="course_name"><strong> 21 Courses We Will Master</strong></p>
		</div>

		
		<div class="course_txt_div">
		
		<ul class="fa-ul">
			<li><i class="fa-li fa fa-check-square"></i>linux Basic and security</li>
			<li><i class="fa-li fa fa-check-square"></i>Offensive Bash Scripting</li>
			<li><i class="fa-li fa fa-check-square"></i>Networking Basic and Security</li>
			<li><i class="fa-li fa fa-check-square"></i>Networking Pentesting with Namp</li>
			<li><i class="fa-li fa fa-check-square"></i>Ethical Hacking Essential</li>
			<li><i class="fa-li fa fa-check-square"></i>Wifi Pentesting</li>
			<li><i class="fa-li fa fa-check-square"></i>Offensive Powershell</li>
			<li><i class="fa-li fa fa-check-square"></i>Offensive Python</li>
			<li><i class="fa-li fa fa-check-square"></i>Vulnerability assessment</li>
			<li><i class="fa-li fa fa-check-square"></i>Offensive Pentesting</li>
			<li><i class="fa-li fa fa-check-square"></i>Privilage Esclation</li>
			<li><i class="fa-li fa fa-check-square"></i>Phishing and Social Engineering</li>
			<li><i class="fa-li fa fa-check-square"></i>Open source Intelligence(OSINT)</li>
			<li><i class="fa-li fa fa-check-square"></i>Active directory attack & defence</li>
			<li><i class="fa-li fa fa-check-square"></i>Exploit Development</li>
			<li><i class="fa-li fa fa-check-square"></i>Malware Development with C</li>
			<li><i class="fa-li fa fa-check-square"></i>Cloud Pentesting</li>
			<li><i class="fa-li fa fa-check-square"></i>Web Pentesting</li>
			<li><i class="fa-li fa fa-check-square"></i>Mobile App Pentesting</li>
			<li><i class="fa-li fa fa-check-square"></i>Api Pentesting</li>
			<li><i class="fa-li fa fa-check-square"></i>Red Teaming Essential</li>
			
		</ul>
			<p class="course_txt">The Diploma in Cyber Security Penetration testing Program will provide you with the knowledge and skills required to become an expert in this rapidly expanding field. With this best-in-class program, you will learn comprehensive approaches to protecting your infrastructure, such as securing data and information, conducting risk analysis and mitigation, architecting cloud-based security, achieving compliance, and much more.</p>
		</div>
		<div class="course_duration_div">
		<p class="course_duration"><img src="{% static 'images\duration-icon.png' %}" class="dur_icon" alt=""> 12 Months / 50 Weeks</p>

		</div>
		
		</div>

	</div>
</section>

<section class="main_sec" id="Why-diploma">
<div class="head_div" data-sal="slide-up" data-sal-duration="1500" data-sal-delay="200" data-sal-easing="ease-out-back">
		<h1 class="headingg">Why Diploma in Cyber security?</h1>
	</div>
	<p class="o_txt1" data-sal="slide-up" data-sal-duration="1500" data-sal-delay="200" data-sal-easing="ease-out-back">Cyberattacks are becoming more frequent, complex, and targeted, collectively costing organizations billions of dollars every year. To put this in perspective, a recent report by IBM states that India reported the second-highest number of cyberattacks in the Asia-Pacific region (The Economic Times, 2021). No wonder across industries there is a surging demand for cybersecurity specialists with technical expertise to defend mission-critical computer systems, networks, and cloud applications against growing cyberattacks. Enroll today in the Skill Bunny Dimploma in Cybersecurity program, which focuses on the defensive and offensive aspects of the technology. It also includes personalized feedback from program leaders, insights from guest speakers, career coaching, mentorship, and the opportunity to create a capstone network development project for a job portfolio. </p>

	<div class="main_div">
		<div class="why_erp" data-sal="slide-right" data-sal-duration="1500" data-sal-delay="200" data-sal-easing="ease-out-back">
			<img src="{% static 'images\Why-PGD_ERP1.jpg' %}" class="why_img" alt="">
			<p class="why_head">32% Indian organizations said that they experienced more cyber attacks in 2021 than the year before.</p>
		</div>

		<div class="why_erp" data-sal="slide-left" data-sal-duration="1500" data-sal-delay="200" data-sal-easing="ease-out-back">
			<img src="{% static 'images\Why-PGD_ERP2.jpg' %}" class="why_img" alt="">
			<p class="why_head">3.5 Million Estimated cybersecurity job opportunities in India by the end of 2021.</p>
		</div>

	</div>

</section> 

<section class="main_sec" id="Why-diploma">
<div class="head_div" data-sal="slide-up" data-sal-duration="1500" data-sal-delay="200" data-sal-easing="ease-out-back">
		<h1 class="headingg">What about placments and Jobs?</h1>
	</div>
	<p class="o_txt1" data-sal="slide-up" data-sal-duration="1500" data-sal-delay="200" data-sal-easing="ease-out-back">We do have a high placement percentage because of our market penetration. So far more than 200+ professionals who are working in the industry have started their careers through Skill Bunny(a flagship initative of Xploit Xperts) and our students are in almost every company that runs any kind of Security Services. This Alumni base help us in placements. Skill Bunny(a flagship initative of Xploit Xperts) gets to know about almost all openings through our Alumni network. And there are several companies that reach out to Skill Bunny(a flagship initative of Xploit Xperts) for placements. So, we are in a good place to help students get placed. However, we only refer students who are committed to learning and show considerable progress throughout the course. </p>
	
	<p class="o_txt1" data-sal="slide-up" data-sal-duration="1500" data-sal-delay="200" data-sal-easing="ease-out-back">Skill Bunny(a flagship initative of Xploit Xperts) is like a Gym, your instructors are like your Gym trainers. No matter how good the gym or the trainer is, you won’t get the results you desire unless you work out. Your results are completely dependent on your efforts. However, Skill Bunny(a flagship initative of Xploit Xperts) can help you to shorten the learning curve and get you the desire results quickly.</p>

	<div class="main_div">
		<div class="why_erp" data-sal="slide-right" data-sal-duration="1500" data-sal-delay="200" data-sal-easing="ease-out-back">
			<img src="{% static 'images/Why-PGD_ERP1.jpg' %}" class="why_img" alt="">
			<p class="why_head">“Skill Bunny(a flagship initative of Xploit Xperts) is a 100% placement Guarantee Institute.”</p>
		</div>

		<div class="why_erp" data-sal="slide-left" data-sal-duration="1500" data-sal-delay="200" data-sal-easing="ease-out-back">
			<img src="{% static 'images/Why-PGD_ERP2.jpg' %}" class="why_img" alt="">
			<p class="why_head">“We cannot help students who do not want to help themselves.”</p>
		</div>

	</div>

</section> 

<section class="main_sec" id="Eligibility">
<div class="head_div" data-sal="slide-up" data-sal-duration="1500" data-sal-delay="200" data-sal-easing="ease-out-back">
		<h1 class="headingg">Eligibility Criteria</h1>
	</div>
<div class="main_div">
	<div class="ele_left" data-sal="slide-up" data-sal-duration="1500" data-sal-delay="200" data-sal-easing="ease-out-back">
		<p class="o_txt ele_txt" data-sal="slide-right" data-sal-duration="1500" data-sal-delay="200" data-sal-easing="ease-out-back" style="text-transform:unset">Graduates and early career professionals with or without prior experience in the IT field and professionals who have established their careers in information technology and are looking to improve their organization's preparedness and response against cyberattacks and grow their career as leaders in cybersecurity strategies will benefit most from this program.
</p>
	<ul class="ele_ul">
<li data-sal="slide-right" data-sal-duration="1500" data-sal-delay="200" data-sal-easing="ease-out-back">B.E./B.Tech. or Bachelors in Computers – B.Sc., BCA, BBA (CA), MCA</li>
<li data-sal="slide-right" data-sal-duration="1500" data-sal-delay="200" data-sal-easing="ease-out-back">B.Sc. / M. Sc. in Mathematics or Statistics with an aggregate of 55% marks or equivalent</li>
	</ul>
	</div>
	<div class="ele_right" data-sal="slide-down" data-sal-duration="1500" data-sal-delay="200" data-sal-easing="ease-out-back">
		<p class="ele_head ele_txt" data-sal="slide-left" data-sal-duration="1500" data-sal-delay="200" data-sal-easing="ease-out-back" style="text-transform:unset;">Who can get the maximum benefit out of this course?</p>
		<ul class="ele_ul">
			<li data-sal="slide-left" data-sal-duration="1500" data-sal-delay="200" data-sal-easing="ease-out-back">Working Professionals</li>
			<li data-sal="slide-left" data-sal-duration="1500" data-sal-delay="200" data-sal-easing="ease-out-back">Fresh Graduates</li>
			<li data-sal="slide-left" data-sal-duration="1500" data-sal-delay="200" data-sal-easing="ease-out-back">Students who have completed their master’s</li>
			<li data-sal="slide-left" data-sal-duration="1500" data-sal-delay="200" data-sal-easing="ease-out-back">Entrepreneurs</li>
		</ul>
	</div>
</div>

</section>

<section class="main_sec" id="About-skill-bunny">
<div class="head_div" data-sal="slide-up" data-sal-duration="1500" data-sal-delay="200" data-sal-easing="ease-out-back">
		<h1 class="headingg" style="text-transform:unset;">ABOUT Skill Bunny</h1>
	</div>
<p  data-sal="slide-left" data-sal-duration="1500" data-sal-delay="200" data-sal-easing="ease-out-back">Skill Bunny is a flagship initiative of Xploit Xperts, committed solely to excellence in Future Exponential Technologies Education, and to transforming students and working professionals in various domains that will influence tomorrow’s economy like – Artificial Intelligence and Machine Learning, Cloud Computing, Cyber Security, ERP, Blockchain, Internet of Things (IoT), Data Science, Digital Marketing designed by the top industry experts and well-experienced faculty.</p>
<p  data-sal="slide-left" data-sal-duration="1500" data-sal-delay="200" data-sal-easing="ease-out-back">Our goal is to provide students and working professionals from all walks of life with quality education and an industry-aligned curriculum to ensure that they succeed in their careers.</p>
</section>

<section class="main_sec" id="Why-MIT-Fuse">
<div class="head_div" data-sal="slide-up" data-sal-duration="1500" data-sal-delay="200" data-sal-easing="ease-out-back">
		<h1 class="headingg" style="text-transform:unset;">WHY Skill Bunny?</h1>
</div>
<div class="why_mit_main">
	<div class="why_mit" data-sal="zoom-in" data-sal-duration="1500" data-sal-delay="200" data-sal-easing="ease-out-back">
<img src="{% static 'images\why-mit\new\1.png' %}" class="why_mit_icon" alt="">
<p class="why_mit_txt">Designed for ambitious Graduates and Working Professionals</p>
	</div>

	<div class="why_mit" data-sal="zoom-in" data-sal-duration="1500" data-sal-delay="200" data-sal-easing="ease-out-back">
<img src="{% static 'images\why-mit\new\2.png' %}" class="why_mit_icon" alt="">
<p class="why_mit_txt">Self-Learning on your own Pace</p>
	</div>

	<div class="why_mit" data-sal="zoom-in" data-sal-duration="1500" data-sal-delay="200" data-sal-easing="ease-out-back">
<img src="{% static 'images\why-mit\new\3.png' %}" class="why_mit_icon" alt="">
<p class="why_mit_txt">Lectures from renowned Industry Experts & Immaulate faculty members</p>
	</div>

	<div class="why_mit" data-sal="zoom-in" data-sal-duration="1500" data-sal-delay="200" data-sal-easing="ease-out-back">
<img src="{% static 'images\why-mit\new\4.png' %}" class="why_mit_icon" alt="">
<p class="why_mit_txt">Mentorship & Career Guidance from Global Leaders</p>
	</div>

	<div class="why_mit" data-sal="zoom-in" data-sal-duration="1500" data-sal-delay="200" data-sal-easing="ease-out-back">
<img src="{% static 'images\why-mit\new\5.png' %}" class="why_mit_icon" alt="">
<p class="why_mit_txt">Hybrid Sessions with more convenience</p>
	</div>

</div>

<div class="why_mit_main">

	<div class="why_mit" data-sal="zoom-in" data-sal-duration="1500" data-sal-delay="200" data-sal-easing="ease-out-back">
<img src="{% static 'images\why-mit\new\6.png' %}" class="why_mit_icon" alt="">
<p class="why_mit_txt">Live Industry Projects</p>
	</div>

	<div class="why_mit" data-sal="zoom-in" data-sal-duration="1500" data-sal-delay="200" data-sal-easing="ease-out-back">
<img src="{% static 'images\why-mit\new\7.png' %}" class="why_mit_icon" alt="">
<p class="why_mit_txt">Online Classes & Workshops</p>
	</div>

	<div class="why_mit" data-sal="zoom-in" data-sal-duration="1500" data-sal-delay="200" data-sal-easing="ease-out-back">
<img src="{% static 'images\why-mit\new\8.png' %}" class="why_mit_icon" alt="">
<p class="why_mit_txt">Content curated by domain experts</p>
	</div>

	<div class="why_mit" data-sal="zoom-in" data-sal-duration="1500" data-sal-delay="200" data-sal-easing="ease-out-back">
<img src="{% static 'images\why-mit\new\9.png' %}" class="why_mit_icon" alt="">
<p class="why_mit_txt">500+ Hrs of learning and 250+ Hrs of Capstone Projects for better exposure</p>
	</div>

</div>


</section>

<section class="main_sec" id="Major-Recruiters">
<div class="head_div" data-sal="slide-up" data-sal-duration="1500" data-sal-delay="200" data-sal-easing="ease-out-back">
		<h1 class="headingg">MAJOR RECRUITERS</h1>
	</div>


	<div class="reslider" data-sal="slide-up" data-sal-duration="1500" data-sal-delay="200" data-sal-easing="ease-out-back">
	    <img src="{% static 'images\placement\1.png' %}" class="placement_img" alt="">
		<img src="{% static 'images\placement\new\7.png' %}" class="placement_img" alt="">
		<img src="{% static 'images\placement\new\8.png' %}" class="placement_img" alt="">
		<img src="{% static 'images\placement\new\9.png' %}" class="placement_img" alt="">
		<img src="{% static 'images\placement\new\10.png' %}" class="placement_img" alt="">
		<img src="{% static 'images\placement\new\11.png' %}" class="placement_img" alt="">
		<img src="{% static 'images\placement\new\12.png' %}" class="placement_img" alt="">
		<img src="{% static 'images\placement\new\13.png' %}" class="placement_img" alt="">
		<img src="{% static 'images\placement\new\14.png' %}" class="placement_img" alt="">
		<img src="{% static 'images\placement\new\15.png' %}" class="placement_img" alt="">
		<img src="{% static 'images\placement\new\16.png' %}" class="placement_img" alt="">
		<img src="{% static 'images\placement\new\17.png' %}" class="placement_img" alt="">
		<img src="{% static 'images\placement\new\18.png' %}" class="placement_img" alt="">
		<img src="{% static 'images\placement\new\19.png' %}" class="placement_img" alt="">
		<img src="{% static 'images\placement\new\20.png' %}" class="placement_img" alt="">
		<img src="{% static 'images\placement\new\21.png' %}" class="placement_img" alt="">
		<img src="{% static 'images\placement\new\22.png' %}" class="placement_img" alt="">
		<img src="{% static 'images\placement\new\23.png' %}" class="placement_img" alt="">
		<img src="{% static 'images\placement\new\24.png' %}" class="placement_img" alt="">
		<img src="{% static 'images\placement\new\25.png' %}" class="placement_img" alt="">
		<img src="{% static 'images\placement\new\26.png' %}" class="placement_img" alt="">
		<img src="{% static 'images\placement\new\27.png' %}" class="placement_img" alt="">

	</div>

</section>


<section class="main_sec" id="Our-Associations">
<div class="head_div" data-sal="slide-up" data-sal-duration="1500" data-sal-delay="200" data-sal-easing="ease-out-back">
		<h1 class="headingg">SOME OF TOOLS WE WILL LEARN</h1>
	</div>


	<div class="reslider" data-sal="slide-up" data-sal-duration="1500" data-sal-delay="200" data-sal-easing="ease-out-back">
	<img src="{% static 'images\association\1.png' %}" class="placement_img" alt="">
		<img src="{% static 'images\association\2.png' %}" class="placement_img" alt="">
		<img src="{% static 'images\association\3.png' %}" class="placement_img" alt="">
		<img src="{% static 'images\association\4.png' %}" class="placement_img" alt="">
		<!-- <img src="images/association/5.png" class="placement_img" alt=""> -->
		<img src="{% static 'images\association\6.png' %}" class="placement_img" alt="">
		<img src="{% static 'images\association\7.png' %}" class="placement_img" alt="">
		<img src="{% static 'images\association\8.png' %}" class="placement_img" alt="">
		<img src="{% static 'images\association\9.png' %}" class="placement_img" alt="">
		<img src="{% static 'images\association\10.png' %}" class="placement_img" alt="">
		<img src="{% static 'images\association\11.png' %}" class="placement_img" alt="">
		<img src="{% static 'images\association\12.png' %}" class="placement_img" alt="">
		<img src="{% static 'images\association\13.png' %}" class="placement_img" alt="">
		<img src="{% static 'images\association\14.png' %}" class="placement_img" alt="">
		<img src="{% static 'images\association\15.png' %}" class="placement_img" alt="">
		<img src="{% static 'images\association\16.png' %}" class="placement_img" alt="">
	</div>

</section>

<div style="text-align:center;">
			<a href="tel:+91 82878 50111"> <img src="{% static 'images\call.png' %}" width="25px" style="margin-right:3px" alt=""><strong>Call Now >> +91 82878 50111</strong></a><br><br>
			<div class="razorpay-embed-btn" data-url="https://pages.razorpay.com/pl_Ilw1hBCgjcXIY4/view" data-text="Pay Now" data-color="#E70D0D" data-size="large">
  <script>
    (function(){
      var d=document; var x=!d.getElementById('razorpay-embed-btn-js')
      if(x){ var s=d.createElement('script'); s.defer=!0;s.id='razorpay-embed-btn-js';
      s.src='https://cdn.razorpay.com/static/embed_btn/bundle.js';d.body.appendChild(s);} else{var rzp=window['_rzp_'];
      rzp && rzp.init && rzp.init()}})();
  </script>
</div>
</div>


<!-- Form start -->

<center><form class="form-horizontal" action="email.php" method="post" >
<fieldset>

<!-- Form Name -->
<legend>Fill the form to Download Syllabus</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Name"></label>  
  <div class="col-md-4">
  <input id="Name" name="Name" type="text" placeholder="Name" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Phone"></label>  
  <div class="col-md-4">
  <input id="Phone" name="Phone" type="text" placeholder="Phone" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="Email"></label>  
  <div class="col-md-4">
  <input id="Email" name="Email" type="text" placeholder="Email" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Multiple Radios -->
<div class="form-group">
  <label class="col-md-4 control-label" for="Course"><strong>Select Course</strong></label>
  <div class="col-md-4">
  <div class="radio">
    <label for="Course-0">
      <input type="radio" name="Course" id="Course-0" value="Advance Ethical Hacking" checked="checked">
      Advance Ethical Hacking
    </label>
	</div>
  <div class="radio">
    <label for="Course-1">
      <input type="radio" name="Course" id="Course-1" value="Advance Web Pentesting">
      Advance Web Pentesting
    </label>
	</div>
  <div class="radio">
    <label for="Course-2">
      <input type="radio" name="Course" id="Course-2" value="Advance App Pentesting">
      Advance App Pentesting
    </label>
	</div>
  <div class="radio">
    <label for="Course-3">
      <input type="radio" name="Course" id="Course-3" value="Offensive Python">
      Offensive Python
    </label>
	</div>
  <div class="radio">
    <label for="Course-4">
      <input type="radio" name="Course" id="Course-4" value="Diploma in Cyber Security">
      Diploma in Cyber Security
    </label>
	</div>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="Submit"></label>
  <div class="col-md-4">
    <button id="Submit" name="Submit" class="btn btn-primary">Submit</button>
  </div>
</div>

</fieldset>
</form>
</center>

	<!-- Footer -->
	<div class=" container-fluid" id="footersection">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 footermain">
			<span>Copyright © 2022 Xploit Xperts Pvt. Ltd. </span>
		</div>
		
	</div>
	
</div>


	

<p class="callat"><a html="true" href="tel:+91 82878 50111">+91 82878 50111</a> <span>></span></p>
		
		
			

	
<!-- Recently Added Properties End -->
<script src="{% static 'js\jquery-3.5.1.min.js' %}"></script>
<script src="{% static 'js\slick.min.js' %}"></script>

<script src="{% static 'js\sal.js' %}"></script>


<script>

	$(document).ready(function() {	
		
		// setTimeout(function(){
		//   $("#enqform").css("display", "block");
		//   $(".sidecontainer").animate({right: "-320px"},300); 
		//   $('.enanchor2').css("display","block");	
		// $('.enanchor1').css("display","block");	    
		//  },10000);
	 
	 $(document).on("scroll", onScroll);
	
    //smoothscroll
   
		$(".calling").click(function(){
     $(".callat").animate({right: "0%"},300);         	 
	});
	$(".callat").click(function(){
     $(".callat").animate({right: "-160px"},300);         	 
	});



	//mobmhclick
	//mobmenu


	$(".hamclick").click(function(){	  
	 $('#mobmenu').css("right","0px");	
	  });
	$(".mobilemenucross").click(function(){	
	$('#mobmenu').css("right","-200px");		 	 
	});
	$(".mmd").click(function(){	
	$('#mobmenu').css("right","-200px");		 	 
	});

	

		$('.close').click(function() {	
		$('#enqform').css("display","none");	
		$('#configform').css("display","none");	
		});
		$('.sideclose').click(function() {	
		$('.sidecontainer').css("right","-320px");	
		$('.sidecontainer').css("box-shadow","none");
		$('.enanchor2').css("display","block");	
		$('.enanchor1').css("display","block");	
		});
$('.enanchor2').click(function(){
		$('.sidecontainer1').css("right","0px");
		$('.sidecontainer').css("box-shadow","-1px -1px 4px 3px rgba(255, 255, 255, 0.3)");
		$('.enanchor2').css("display","none");	
		$('.enanchor1').css("display","none");	
		});
	
		$('.enanchor1').click(function(){
		$('.sidecontainer2').css("right","0px");
		$('.sidecontainer').css("box-shadow","-1px -1px 4px 3px rgba(255, 255, 255, 0.3)");
		$('.enanchor2').css("display","none");	
		$('.enanchor1').css("display","none");	
		});
		
// $('.mobEqNow').click(function(){
// 		$('.sidecontainer').css("right","0px");
// 		$('.sidecontainer').css("box-shadow","-1px -1px 4px 3px rgba(255, 255, 255, 0.3)");
// 		$('.enanchor2').css("display","none");	
// 		$('.enanchor1').css("display","none");	
// 		});		
$('.enq_now').click(function(){
		$('.sidecontainer').css("right","0px");	
		$('.enanchor1').css("display","none");	
		$('.enanchor2').css("display","none");	
		});

	     

    


	  $(".reslider").slick({
        variableWidth: false,
        dots: false,
		arrows:true,
		centerMode: false,
		centerPadding: '0px',
		pauseOnHover:true,
        infinite: true,
        slidesToShow: 5,
		speed: 1000,
		autoplay: true,	
		autoplaySpeed: 1500,		
        slidesToScroll: 1,	
		nextArrow: '<img src="{% static 'images/next.png' %}" class="nextArrowBtn"/>',
  prevArrow: '<img src="{% static 'images/prev.png' %}" class="prevArrowBtn"/>',
responsive: [
    {
      breakpoint: 1025,
      settings: {
        slidesToShow: 5,
        slidesToScroll: 1,
        infinite: true,
		autoplay: true,
		autoplaySpeed: 1000
      }
    },
	{
      breakpoint: 768,
      settings: {
        slidesToShow: 3,
		autoplay: true,
		infinite: true,
		autoplaySpeed: 1000,
        slidesToScroll: 1
      }
    },
    {
      breakpoint: 640,
      settings: {
        slidesToShow: 2,
		autoplay: true,
		infinite: true,
		autoplaySpeed: 1000,
        slidesToScroll: 1
      }
    },	
    {
      breakpoint: 580,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 1,
		infinite: true,
		autoplay: true,
		autoplaySpeed: 1000
      }
    }, 	
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 1,
		infinite: true,
		autoplay: true,
		autoplaySpeed: 1000
      }
    }    
  ]		
      }); 
	  
	  
  

      });
	  
		
 function onScroll(event){
    var scrollPos = $(document).scrollTop();
    $('#menu-center a').each(function () {
        var currLink = $(this);
        var refElement = $(currLink.attr("href"));
      
    });
}

$(".menuuu").on('click', function(e) {
   // prevent default anchor click behavior
   e.preventDefault();

   // animate
   $('html, body').animate({
       scrollTop: $(this.hash).offset().top - 70
     }, 300, function(){
     });
});

     </script> 
	 <script>sal({
		once: false
	  });</script>
  </body>
</html>