{% extends 'base_template.html' %}
{% load static %}

{% block content %}
	<!-- Page main content START -->
	<div class="page-content-wrapper border">

		<!-- Title -->
		<div class="row mb-3">
			<div class="col-12 d-sm-flex justify-content-between align-items-center">
				<h1 class="h3 mb-2 mb-sm-0">Course Details</h1>
				{% comment %} <a href="admin-edit-course-detail.html" class="btn btn-sm btn-primary mb-0">Edit Course</a> {% endcomment %}
			</div>
		</div>
		{% include 'includes/messages.html' %}
		<div class="col-md-8">
			<form class="rounded position-relative" method="post">
				{% csrf_token %}
				<input class="form-control bg-body" name="search" type="search" placeholder="Search" aria-label="Search">
				<button class="btn bg-transparent px-2 py-0 position-absolute top-50 end-0 translate-middle-y" type="submit"><i class="fas fa-search fs-6 "></i></button>
			</form>
		</div> <br>
		<div class="row g-4">

			

			<!-- Chart START -->
		
			<!-- Chart END -->

			<!-- Student review START -->
			<div class="col-12">
				<div class="card bg-transparent border">

					<!-- Card header START -->
					
					<!-- Card header END -->
		
					<!-- Card body START -->
					<div class="card-body pb-0">
						<!-- Table START -->
						<div class="table-responsive border-0">
							<table class="table table-dark-gray align-middle p-4 mb-0 table-hover">
								<!-- Table head -->
								<thead>
									<tr>
										
										<th scope="col" class="border-0 rounded-start">#</th>
										<th scope="col" class="border-0">Course Category</th>
										<th scope="col" class="border-0">Course img</th>
										<th scope="col" class="border-0">Course Name</th>
										
										<th scope="col" class="border-0">Instructor</th>
										<th scope="col" class="border-0">Course Price</th>
										<th scope="col" class="border-0">Course Title</th>
										<th scope="col" class="border-0">Description</th>
										<th scope="col" class="border-0">Created_at</th>
										<th scope="col" class="border-0">updated_at</th>
										<th scope="col" class="border-0 rounded-end">Action</th>
									</tr>
								</thead>
		
								<!-- Table body START -->
								<tbody>
									{% for course in course %}
									<!-- Table row -->
									<tr>
										<!-- Table data -->
										<!-- Table data -->
										<td class="text-center text-sm-start">
											<h6 class="mb-0">{{forloop.counter}}</h6>
										</td>

										<td class="text-center text-sm-start">
											<h6 class="mb-0">{{course.couse_category}}</h6>
										</td>
										
										<td class="text-center text-sm-start">
											<h6 class="mb-0"> <img src="/media/{{course.profile_course_pic}}"
												 width="30" height="30" alt="kasim saifi">
											</h6>
										</td>

										<td class="text-center text-sm-start">
											<h6 class="mb-0">{{course.course_name}}</h6>
										</td>
										
										<td class="text-center text-sm-start">
											<h6 class="mb-0">{{course.staff_id}}</h6>
										</td>
										<td class="text-center text-sm-start">
											<h6 class="mb-0">{{course.course_price}}</h6>
										</td>
										<td class="text-center text-sm-start">
											<h6 class="mb-0">{{course.course_title}}</h6>
										</td>
										<td class="text-center text-sm-start">
											<h6 class="mb-0">{{course.course_description}}</h6>
										</td>
										<td class="text-center text-sm-start">
											<h6 class="mb-0">{{course.created_at}}</h6>
										</td>
										<td class="text-center text-sm-start">
											<h6 class="mb-0">{{course.updated_at}}</h6>
										</td>
		
										<!-- Table data -->
										
		
										<!-- Table data -->
										<td>
											<a href="{% url 'edit_course' course.pk %}" class="btn btn-sm btn-info-soft mb-0" data-bs-target="#viewReview">Edit</a>
											<a href="{% url 'delete_course' course.pk %}"><button class="btn btn-sm btn-danger-soft me-1 mb-1 mb-md-0">Delete</button></a>
											
										</td>
									</tr>
		
									<!-- Table row -->
									
									<!-- Table row -->
									
									<!-- Table row -->
									
		
									<!-- Table row -->
									{% endfor %}
								</tbody>
								<!-- Table body END -->
							</table>
						</div>
						<!-- Table END -->
					</div>
					<!-- Card body END -->
		
					<!-- Card footer START -->
					<div class="card-footer bg-transparent">
						<!-- Pagination START -->
						<div class="d-sm-flex justify-content-sm-between align-items-sm-center">
							<!-- Content -->
							<p class="mb-0 text-center text-sm-start">Showing 1 to 8 of 20 entries</p>
							<!-- Pagination -->
							<nav class="d-flex justify-content-center mb-0" aria-label="navigation">
								<ul class="pagination pagination-sm pagination-primary-soft mb-0 pb-0">
									<li class="page-item mb-0"><a class="page-link" href="#" tabindex="-1"><i class="fas fa-angle-left"></i></a></li>
									<li class="page-item mb-0"><a class="page-link" href="#">1</a></li>
									<li class="page-item mb-0 active"><a class="page-link" href="#">2</a></li>
									<li class="page-item mb-0"><a class="page-link" href="#">3</a></li>
									<li class="page-item mb-0"><a class="page-link" href="#"><i class="fas fa-angle-right"></i></a></li>
								</ul>
							</nav>
						</div>
						<!-- Pagination END -->
					</div>
					<!-- Card footer END -->
				</div>
			</div>
			<!-- Student review END -->

		</div> <!-- Row END -->
	</div>
	<!-- Page main content END -->

</div>
<!-- Page content END -->

</main>
<!-- **************** MAIN CONTENT END **************** -->





{% endblock  %}





