{% extends 'base_template.html' %}
{% block content %}
<div class="content-body">
    <div class="container-fluid">
       <!-- row -->
       <div class="container-fluid" >
          <div class="col-lg-12">
             <div class="profile card card-body px-3 pt-3 pb-0">
                <div class="profile-head">
                   <div class="photo-content">
                      <div class="cover-photo rounded"></div>
                   </div>
                   <div class="profile-info">
                      <div class="profile-photo">
                         <img src="images\profile\profile.png" class="img-fluid rounded-circle" alt="">
                      </div>
                      <div class="profile-details">
                        
                        
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
    <div class="container-fluid">
    <div class="card">
       <div class="card-body">
         <div class="settings-form">
             <h4 class="text-primary">Update Course</h4>

             {% include 'includes/messages.html' %}
             
             <form action="{% url 'update_course' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                   <div class="form-group">
                     <div class="mb-3 col-md-12">
                        <label class="form-label">Image</label>
                        <input type="file"  class="form-control" value= "{{course.profile_course_pic}}" name="profile_course_pic" required>
                        <input type="text"  class="form-control" value= "{{course.course_id}}" name="course_id" hidden>
                     </div>
                     <div class="mb-3 col-md-12">
                        <label class="form-label">Instructor Name</label> 
                        <select class="form-select" aria-label="Default select example" name="staff_id" required>
                            <option selected>Select Instructor </option>
                            {% for i in staff  %} 
                            <option value="{{i.id}}">{{i.admin}}</option> 
                            {% comment %} <option value="">{{i.id}}</option> {% endcomment %}
							
                            {% endfor %} 
                          </select>
                       </div>
                       <div class="mb-3 col-md-12">
                        <label class="form-label">Course Category</label>
                        <select class="form-select" aria-label="Default select example" name="category_id" required>
                            <option selected>Select Category</option>
                            {% for i in cate  %}
                            <option value="{{i.id}}">{{i.category_name}}</option>
    
                               {% comment %} <option value="{{i.id}}">{{i.category_name}}</option> {% endcomment %}
    
                            {% endfor %}
                          </select>
                       </div>
                   

     
                   <!-- <div class="mb-3 col-md-12">
                      <label class="form-label">Instructor Name</label>
                      <input type="text"  class="form-control" value= "" name="instructor_name" required>
                   </div> -->
                  </div>
                   <div class="mb-3 col-md-12">
                     <label class="form-label">Course Name</label>
                     <input type="text"  class="form-control" value= "{{course.course_name}}" name="course_name" required>
                  </div>
                  <div class="mb-3 col-md-12">
                     <label class="form-label">Course Price</label>
                     <input type="text"  class="form-control" value= "{{course.course_price}}" name="course_price" required>
                  </div>
                  <div class="mb-3 col-md-12">
                     <label class="form-label">Course Title</label>
                     <input type="text"  class="form-control" value= "{{course.course_title}}" name="course_title" required>
                  </div>
                  <div class="mb-3 col-md-12">
                     <label class="form-label">Course Description</label>
                     <input type="text"  class="form-control" value= "{{course.course_description}}" name="course_description" required>
                  </div>
                <div class = "col-md-6">
                   <button type="submit" class= "btn btn-primary">Update</button>
                </div>
               
                
             </form>
          </div>
         
       </div>
    </div>
 </div>
 </div>
 

{% endblock content %}