{% extends 'base_template.html' %}

{% block content %}
<div class="content-body">
    <div class="container-fluid">
       
       <!-- row -->
       <div class="container-fluid" >
          <div class="col-lg-12">
             <div class="profile card card-body px-3 pt-3 pb-0">
                <div class="profile-head">
                   <div class="photo-content">
                      <div class="cover-photo rounded"></div>
                   </div>
                   <div class="profile-info">
                      <div class="profile-photo">
                         <img src="/media/{{i.profile_img}}" class="img-fluid rounded-circle" alt="">
                      </div>
                      <div class="profile-details">
                        
                        
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
    <div class="container-fluid">
    <div class="card">
       <div class="card-body">
         <div class="settings-form">
             <h4 class="text-primary">Edit Student</h4>

             {% include 'includes/messages.html' %}
             
             <form action="{% url 'update_student' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div >
                   <div class="mb-3 cod-md-12 ">
                      <label class="form-label">Profile Pic</label>
                      <input type="file" class="form-control" name = "profile_pic" >
                      <input type="text" class="form-control" name = "student_id" value = "{% for i  in student  %} {{i.admin.profile_pic}}{% endfor %}" >
                      <input type="text" class="form-control" name = "student_id" value = "{% for i  in student  %} {{i.admin.id}}{% endfor %}" >
                   </div>
                   <div class="mb-3 col-md-12">
                      <label class="form-label">First Name</label>
                      <input type="text"  class="form-control" value= " {% for i in student  %}{{i.admin.first_name}}{% endfor %} " name="first_name" >
                   </div>
                   <div class="mb-3 col-md-12">
                      <label class="form-label">Last Name</label>
                      <input type="text"  class="form-control" value= "{% for i in student  %}{{i.admin.last_name}}{% endfor %}" name = "last_name" >
                   </div>
                </div>
                <div >
                   <div class="mb-3 col-md-12">
                      <label class="form-label"> Email</label>
                      <input type="email"  class="form-control" value = "{% for i in student  %}{{i.admin.email}}{% endfor %}" name="email"  >
                   </div>
                   <div class="mb-3 col-md-12">
                     <label class="form-label">Username</label>
                     <input type="text"  class="form-control" value = "{% for i in student  %}{{i.admin.username}}{% endfor %}" name="username" >
                  </div>
                   <div class="mb-3 col-md-12">
                      <label class="form-label">Password</label>
                      <input type="password" class="form-control" name="password" placeholder="Fill only If you want to change Password">
                   </div>
    

 
                   <div class="mb-3 col-md-12">
                    <label for="exampleFormControlTextarea4">Addres</label>
                    <textarea class="form-control" id="exampleFormControlTextarea4" rows="3" value="" name="address"  >{% for i in student  %}{{i.address}}{% endfor %}</textarea>
                   </div>
 
 
                   <div class="mb-3 col-md-12">
                       <label class="form-label">Gender</label>
                        <select class="form-select" aria-label="Default select example" name="gender" >
                            <label class="form-label">Gender</label>
                            <option selected>Selected Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Others">Other</option>
                            
                            
                        </select>
                   </div>


                   <div class="mb-3 col-md-12">
                    <label class="form-label">Course</label>
                    <select class="form-select" aria-label="Default select example" name="course_id" >
                        <option selected>Select Course</option>
                        {% for i in course  %}

                           <option value="{{i.id}}">{{i.course_name}}</option>

                        {% endfor %}
                      </select>
                   </div>
 

                   <div class="mb-3 col-md-12">
                    <label class="form-label">Session</label>
                    <select class="form-select" aria-label="Default select example" name="session_year_id" >
                        <option selected>Select Session Year</option>
                        {% for i in session_year  %}

                           <option value="{{i.id}}">{{i.session_start}} To {{i.session_end}}</option>

                        {% endfor %}
                        
                      </select>
                   </div>
 
                   
                </div>
                <div class = "col-md-6">
                   <button type="submit" class= "btn btn-primary">Update Student</button>
                </div>
               
                
             </form>
          </div>
       
       </div>
    </div>
 </div>
 </div>
 

{% endblock content %}